backend/app/ml_models/saved_models/crop_random_forest.pkl filter=lfs diff=lfs merge=lfs -text
backend/app/ml_models/saved_models/soil_random_forest.pkl filter=lfs diff=lfs merge=lfs -text
backend/app/ml_models/saved_models/fertilizer_random_forest.pkl filter=lfs diff=lfs merge=lfs -text
backend/app/ml_models/saved_models/fertilizer_model_metadata.json filter=lfs diff=lfs merge=lfs -text
backend/app/ml_models/irrigation_model.pkl filter=lfs diff=lfs merge=lfs -text
backend/app/ml_models/irrigation_scaler.pkl filter=lfs diff=lfs merge=lfs -text
backend/app/ml_models/saved_models/crop_yield_random_forest.pkl filter=lfs diff=lfs merge=lfs -text
